node_modules/
worker/node_modules/

.wrangler/
worker/.wrangler/

.chrome-test-profile*/
.edge-test-profile/
.edge-shot-*/

*.log
worker/tmp-tail-log.txt

tools/*.png
tools/*.jpg
tools/*.jpeg
tools/*-dom.html

luxury-preview.html

.dev.vars*
!.dev.vars.example
.env*
!.env.example
